<div id="home">
	<div class="search">
		<div class="search-content">
			<input type="text" />
			<a href=""><img src="./img/home/7.png\" alt="" /></a>
		</div>
		<!--<div class="erji"></div>-->
		<a href="" class="erji"><img src="./img/home/8.png" class="erjiImg" alt="" /></a>
	</div>
	<div class="h_top">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<a href="" class="swiper-slide" ng-repeat="item3 in homeCtrl.dataeds"><img ng-src="{{item3.url}}" alt="" /></a>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div id="nav">
		<div class="content_container">
			<a href="###">
				<img src="./img/home/6.jpg" alt="" />
				<p>新人领券</p>
			</a>
			<a href="###">
				<img src="./img/home/7.jpg" alt="" />
				<p>限时秒抢</p>
			</a>
			<a href="###">
				<img src="./img/home/8.jpg" alt="" />
				<p>拼手气</p>
			</a>
			<a href="###">
				<img src="./img/home/9.jpg" alt="" />
				<p>乐视美酒</p>
			</a>

		</div>
	</div>
	<div id="introduce">
		<div id="introduce_content">
			<div class="left">
				<img id="bigImg" src="./img/home/10.jpg" alt="" />
				<img src="./img/home/13.jpg" alt="" />
			</div>
			<div class="right">
				<img src="./img/home/11.jpg" alt="" />
				<img src="./img/home/12.jpg" alt="" />
				<img src="./img/home/14.jpg" alt="" />
			</div>
			<div class="bottom">
				<img src="./img/home/15.jpg" />
			</div>
		</div>
	</div>
	<div id="business">
		<div id="business_content">
			<a href="###"><img src="./img/home/16.jpg" alt="" /></a>
			<a href="###"><img src="./img/home/17.jpg" alt="" /></a>
			<a href="###"><img src="./img/home/18.jpg" alt="" /></a>
		</div>
	</div>
	<div id="ming">
		<a href="#/detail"><img src="./img/home/19.jpg" alt="" /><div class="trangle"></div></a>
	</div>
	<div class="wine">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<a href="#" class="swiper-slide">
					<img src="./img/home/20.jpg" alt="" />
					<p>卡门萨副牌</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/21.jpg" alt="" />
					<p>卡门萨副牌</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/22.jpg" alt="" />
					<p>佳得美庄园副牌</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/20.jpg" alt="" />
					<p>佳得美庄园副牌</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/21.jpg" alt="" />
					<p>佳得美庄园副牌</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/22.jpg" alt="" />
					<p>蓝珊干红</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/26.jpg" alt="" />
					<p>名庄优选</p>
				</a>
			</div>
		</div>
	</div>
	<div id="white-wine">
		<div class="white-wine-content">
			<img src="./img/home/27.jpg" alt="" />
			<div class="trangle2"></div>
		</div>
	</div>
	<div class="dajiahao">
		<div class="seablue">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<a href="###" class="swiper-slide">
						<img src="./img/home/23.jpg" alt="" />
						<p>43度茅台飞天</p>
						<p class="bottom">￥679.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/24.jpg" alt="" />
						<p>52度五粮液</p>
						<p class="bottom">￥829.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/25.jpg" alt="" />
						<p>洋河海之蓝</p>
						<p class="bottom">￥129.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/24.jpg" alt="" />
						<p>52度剑南春</p>
						<p class="bottom">￥109.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/25.jpg" alt="" />
						<p>52度剑南春</p>
						<p class="bottom">￥389.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/26.jpg" alt="" />
						<p>礼遇精粹</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="delicious">
		<div class="delicious-content">
			<img src="./img/home/28.jpg" alt="" />
			<div class="trangle3"></div>
		</div>
	</div>
	<div class="handsome">
		<div class="bosspurple">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<a href="###" class="swiper-slide">
						<img src="./img/home/29.jpg" alt="" />
						<p>焦糖瓜子</p>
						<p class="bottom">￥679.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/30.jpg" alt="" />
						<p>小老板紫菜</p>
						<p class="bottom">￥829.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/31.jpg" alt="" />
						<p>瑟琳娜腰果</p>
						<p class="bottom">￥129.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/32.jpg" alt="" />
						<p>黑椒猪肉脯</p>
						<p class="bottom">￥109.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/29.jpg" alt="" />
						<p>新福町威化饼</p>
						<p class="bottom">￥109.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/30.jpg" alt="" />
						<p>多力多滋玉米片</p>
						<p class="bottom">￥389.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/31.jpg" alt="" />
						<p>蓝莓味注心饼干</p>
						<p class="bottom">￥389.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/32.jpg" alt="" />
						<p>多力多滋玉米片</p>
						<p class="bottom">￥389.00</p>
					</a>
					<a href="" class="swiper-slide">
						<img src="./img/home/26.jpg" alt="" />
						<p>寻找美味</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="huiyuan">
		<div class="huiyuan-content">
			<img src="./img/home/33.jpg" alt="" />
			<div class="trangle3"></div>
		</div>
	</div>
	<div class="fruit">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<a href="###" class="swiper-slide">
					<img src="./img/home/34.jpg" alt="" />
					<p>汇源果汁醋</p>
					<p class="bottom">￥679.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/35.jpg" alt="" />
					<p>汇源苹果汁礼盒</p>
					<p class="bottom">￥829.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/36.jpg" alt="" />
					<p>全有果蔬汁</p>
					<p class="bottom">￥129.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/34.jpg" alt="" />
					<p>汇源苹果汁</p>
					<p class="bottom">￥109.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/35.jpg" alt="" />
					<p>汇源葡萄汁</p>
					<p class="bottom">￥389.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/36.jpg" alt="" />
					<p>汇源臻贵礼盒</p>
					<p class="bottom">￥389.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/37.jpg" alt="" />
					<p>汇源椰子水</p>
					<p class="bottom">￥389.00</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="./img/home/26.jpg" alt="" />
					<p>汇源系列</p>
				</a>
			</div>
		</div>
	</div>
	<div class="title">
		<div class="titlehot">
			<div class="before"></div>
			<div class="title-content">热卖推荐</div>
			<div class="after"></div>
		</div>
	</div>
	<div class="kindswine">
		<div class="kindswine-content">
			<a href="#">
				<img  class="lazyImg" data-original="./img/home/38.jpg" alt="" />
				<p>【名庄】丽冠巴顿庄园正牌干红葡萄酒 2012</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/39.jpg" alt="" />
				<p>【名庄】丽冠巴顿庄园正牌干红葡萄酒 2012   </p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/40.jpg" alt="" />
				<p>薇谷干红葡萄酒</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/41.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/42.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/43.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/38.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/39.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/40.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/41.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/42.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/43.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/38.jpg" alt="" />
				<p>【名庄】丽冠巴顿庄园正牌干红葡萄酒 2012   </p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/39.jpg" alt="" />
				<p>【名庄】丽冠巴顿庄园正牌干红葡萄酒 2012   </p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/40.jpg" alt="" />
				<p>薇谷干红葡萄酒</p>
				<p class="bottom1">￥58.00</p>
			</a>
			<a href="#">
				<img class="lazyImg" data-original="./img/home/41.jpg" alt="" />
				<p>拉菲传奇梅多克干红葡萄酒2012*2</p>
				<p class="bottom1">￥58.00</p>
			</a>
			
		</div>
	</div>
	
	<div class="a">
		<span class="a1"></span>
		<div class="a2">
			<span style="font-size: 3px;margin-left: 12px;">我的</span><br>
			<span style="font-size: 3px; margin-left: 12px;">订单</span>
		</div>
	</div>
	<div class="b">
		<span class="b1"></span>
		<div class="b2">
			<span style="font-size: 3px;margin-left: 12px;">我的</span><br>
			<span style="font-size: 3px;margin-left: 12px;">收藏</span>
		</div>
	</div>
	<div class="c">
		<span class="c1"></span>
	</div>
	
	
	
	
	
	
</div>